<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Contact</title>
    <script src="https://kit.fontawesome.com/3a56c9fe8b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body class="contact">
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
        </nav>
    </header>
    <main>
        
        <section>
            <h1>Contact//</h1>
            
            <article>
                <h2>we are hare</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26265.84656813382!2d-58.38645980000003!3d-34.62360685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses!2sar!4v1686931268849!5m2!1ses!2sar"></iframe>
            </article>
        </section>
        
        <section>
            <h3>Contact INFO</h3>
            <article>
                <h4>MANAGMENT | Karen blanche</h4>
                    <p><b>email: </b><a href="#">info@mysite.com</a></p>
                    <p><b>phone: </b><a href="#">123-456-7890</a></p>
            </article> 
            <article>
                <h4>BOOKING | Daniel Ku</h4>
                <p><b>email: </b><a href="#">info@mysite.com</a></p>
                <p><b>phone: </b><a href="#">123-456-7890</a></p>
            </article>
            <article>
                <h4>LABEL | Wix Records, Jake Coldham</h4>
                <p><b>email: </b><a href="#">info@mysite.com</a></p>
                <p><b>phone: </b><a href="#">123-456-7890</a></p>
            </article>
            <article>
                <h4>PR | That Girl Pr, Sarah Brookstone</h4>
                <p><b>email: </b><a href="#">info@mysite.com</a></p>
                <p><b>phone: </b><a href="#">123-456-7890</a></p>
            </article>
        </section>
    </main>
</body>
</html>