<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Music</title>
    <script src="https://kit.fontawesome.com/3a56c9fe8b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav id="header">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
        </nav>
    </header>
    <main>
        <h1>MUSIC//</h1>
        <nav>
            <h5>Directs links</h5>
        <ul>
            <li><a href="#album">Album</a></li>
            <li><a href="#video1">Video: Organic</a></li>
            <li><a href="#video2">Video: Street Light</a></li>
        </ul>
        </nav>
        <section>
            <article id="album">
                <h4>ALBUM <br> TWIST IN MY REALITY</h4>
                <img src="/img/emilia-play-list.png" alt="la novia de eric" width="640">
                <ol>
                    <li><i class = "fas fa-play"></i> Organic Love | 02:40</li>
                    <li><i class = "fas fa-play"></i> Twist In My Reality | 02:10</li>
                    <li><i class = "fas fa-play"></i> Street Light | 03:28</li>
                    <li><i class = "fas fa-play"></i> Love Don't Live here Anymore (cover) | 03:49</li>
                </ol>
                <a href="#header">Go Top</a>
            </article>
        </section>
        <section>
        <article id="video1">
            <h2>VIDEO <br> ORGANIC LOVE</h2>
            <iframe width="640" height="300" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Rick Astley - Never Gonna Give You Up (Official Music Video)" ></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Produced by NIKI HEART</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Wix Films LTD</p>
            <a href="#header">Go Top</a>
        </article>
        <article id="video2">
            <h2>VIDEO <br> STREET LIGHT</h2>
            <iframe width="640" height="300" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Rick Astley - Never Gonna Give You Up (Official Music Video)"></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Produced by NIKI HEART</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Wix Films LTD</p>
            <a href="#header">Go Top</a>
        </article>
        </section>
    </main>
</body>
</html>